@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Sono:wght@200..800&display=swap');

:root {
  --font-mono: 'Sono', sans-serif, monospace;
  --font-serif: 'Antic Didone', serif;

  --dark-blue: #124e78;
  --light-blue: #3da5d9;
  --dark-green: #497048;
  --sand: #f0f0c9;
  --salmon: #e15a51;

  --white: #e0e0ea;
  --black: #20202a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-mono);
  /* font-weight: 600; */
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--font-serif);
}

.serif {
  font-family: var(--font-serif);
}

main {
  max-width: 1024px;
  margin: 1em auto;
}

main > h1 {
  text-align: center;
  margin: 1em;
}

main > section {
  margin: 2em 0;
}

main > section > h2 {
  margin-bottom: 0.5em;
}
main > section > h2 > span {
  color: var(--salmon);
}

main > section > ul > li {
  list-style-type: square;
  margin-left: 2em;
}
