:root {
  --xanthous: #e6af2e;
  --tekhelet: #3d348b;
  --timberwolf: #dbd3d8;
  --flash-white: #eff1f3;
  --black: #2b2826;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', monospace;
}

section#templeCardList > section {
  box-shadow: 1px 1px 10px var(--flash-white);

  margin: 1em;
  padding: 1em;

  text-align: center;
}

section#templeCardList > section > h3 {
  margin-bottom: 0.75em;
}

section#templeCardList > section > p > span {
  font-family: var(--font-montserrat);
  color: #e6af2e;
}

section#templeCardList > section > img {
  border: 1px var(--timberwolf) solid;
  margin-top: 1em;

  width: 400;
  height: 250;
}
