@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --timberwolf: #dbd3d8;
  --tekhelet: #3d348b;
  --flash-white: #eff1f3;
  --xanthous: #e6af2e;
  --black: #2b2826;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', monospace;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
  color: var(--timberwolf);
}

footer {
  position: fixed;
  background-color: var(--tekhelet);

  width: 100%;
  height: 10vh;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > p {
  margin: 3px auto;
}

footer > p#lastModified {
  color: var(--xanthous);
}
