@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --timberwolf: #dbd3d8;
  --tekhelet: #3d348b;
  --flash-white: #eff1f3;
  --xanthous: #e6af2e;
  --black: #2b2826;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', monospace;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
  text-align: center;
}

body {
  width: 100vw;
}

header {
  background-color: var(--tekhelet);

  padding: 1em 0;
  width: 100vw;
}

main {
  padding-bottom: 120px;
}

main > section > h2 {
  color: var(--black);
  padding: 1em 0 1.5em 0;
}

main > section > p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: left;
  color: var(--black);
}

main > section > p > strong {
  display: block;
  text-align: right;
  color: var(--black);
}
