@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --timberwolf: #dbd3d8;
  --tekhelet: #3d348b;
  --flash-white: #eff1f3;
  --xanthous: #e6af2e;
  --black: #2b2826;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', monospace;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
  color: var(--timberwolf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

@media screen and (max-width: 880px) {
  header {
    height: fit-content;
    flex-wrap: wrap;
  }

  header > input {
    display: block;
  }

  header > nav {
    background-color: var(--tekhelet);
    width: 100%;
  }

  header > nav > ul {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  header > nav > ul > li {
    width: 100%;
  }

  header > nav > ul > li > a {
    display: block;
    text-align: center;
  }
}
