:root {
  --xanthous: #e6af2e;
  --tekhelet: #3d348b;
  --timberwolf: #dbd3d8;
  --flash-white: #eff1f3;
  --black: #2b2826;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', monospace;
}

body {
  background-color: var(--flash-white);
}

header {
  background-color: var(--tekhelet);

  width: 100%;
  height: 10vh;
  padding: 1em 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > input {
  display: none;
}

header > nav > ul {
  display: flex;
  justify-content: space-between;
  min-width: 25vw;
}

header > nav > ul > li {
  list-style: none;
}

header > nav > ul > li > a {
  font-size: 1.5em;
  padding: 1.2em;
  text-decoration: none;
}

header > nav > ul > li > a:hover {
  color: var(--tekhelet);
  background-color: var(--flash-white);
  border-top: 2px solid var(--xanthous);
}

main {
  background-color: var(--black);
  padding-bottom: 35vh;
  height: 100%;
}

main > h2 {
  padding: 1.5em 0 0.2em 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

main > section {
  max-width: 1366px;
  margin: 1em auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  /* grid-gap: 25px; */

  place-items: center;
}

main > section > figure {
  margin: 1em;

  border: 1px var(--xanthous) solid;
  display: flex;
  flex-flow: column;
  padding: 2px;

  max-width: 480px;
  min-width: 280px;
}

main > section > figure > img {
  max-width: 480px;
  min-width: 280px;
}

main > section > figure > figcaption {
  background-color: var(--timberwolf);
  color: var(--black);
  font-weight: bold;
  padding: 3px;
  text-align: center;
}

footer {
  position: fixed;
  background-color: var(--tekhelet);

  width: 100%;
  height: 10vh;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > p {
  margin: 3px auto;
}

footer > p#lastModified {
  color: var(--xanthous);
}
